* {
    margin:0px;
}
#navbar {
    color:rgb(247, 15, 7);
    padding:10px;
    font-size: 22px;
    text-align:center;
    background-color: rgb(9, 212, 145);
}
#paragraph {
    margin-top: 20px;
    margin-bottom: 20px;
}
img {
    width: 100px;
}